# Byte-compiled files
__pycache__/
*.py[cod]

# Environment variables
.env
.venv
venv/
env/
.envrc

# Flask instance folder
instance/

# Flask cache
.flaskenv

# Database files
*.sqlite
*.db

# IDE files
.idea/
.vscode/

# Log files
*.log

# System files
.DS_Store
Thumbs.db
