# Byte-compiled files
__pycache__/
*.py[cod]

# Environment variables
.env
.venv
venv/
env/
.envrc

# Flask instance folder
instance/

# Flask cache
.flaskenv

# Database files
*.sqlite
*.db

# VSCode IDE files
.vscode/

# Other files to ignore
.DS_Store
*.log
